[train] #train parameters
epoch = 16
batch_size = 128

shuffle = True

reader_num = 8

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 1
max_grad_norm = 0
fp16=False

valid_mode=batch

grad_accumulate = 1

[eval] #eval parameters
batch_size = 128

shuffle = False

reader_num = 4

[distributed]
use = False
backend = nccl

[data] #data parameters
train_dataset_type = FilenameOnly
train_formatter_type = Basic
train_data_path = data
train_file_list = train.json

valid_dataset_type = FilenameOnly
valid_formatter_type = Basic
valid_data_path = data
valid_file_list = valid.json

test_dataset_type = FilenameOnly
test_formatter_type = Basic
test_data_path = data
test_file_list = test.json

load_into_mem = True

[model] #model parameters
model_name = BasicBert

[output] #output parameters
output_time = 1
test_time = 1

model_path = model
model_name = name

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,macro_precision,macro_recall,macro_f1
