[train] #train parameters
epoch = 16
batch_size = 4

shuffle = True

reader_num = 8

optimizer = AdamW
learning_rate = 5e-5
weight_decay = 0.01
step_size = 1
lr_multiplier = 1

max_len=4096
mlm_prob=0.15

warmup_steps=3000
training_steps=200000
max_grad_norm=1.0
fp16=True

valid_mode = step
step_epoch = 3000

[eval] #eval parameters
batch_size = 12

shuffle = False

reader_num = 4

[distributed]
use = True
backend = nccl

[data] #data parameters
train_dataset_type = MultiDocDataset
train_formatter_type = Lawformer
train_data = /mnt/datadisk0/xcj/LegalBert/data/tokens
train_files = ms_data_law_train_SS_document,xs_data_law_train_SS_document

valid_dataset_type = MultiDocDataset
valid_formatter_type = Lawformer
valid_data = /mnt/datadisk0/xcj/LegalBert/data/tokens
valid_files = ms_data_law_valid_SS_document,xs_data_law_valid_SS_document

[model] #model parameters
model_name = Lawformer

[output] #output parameters
output_time = 1
test_time = 1

model_path = checkpoint
model_name = Lawformer

output_function = Null
